<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="color:#777;">
          <span class="sr-only" style="color:#777;">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "វិទ្យុពាណិជ្ជម្មខេត្តកំពត", root_path, :class => "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "ទំព័រ​ដើម", root_path %></li>
          <li><%= link_to "ពត៌មាន", site_news_path %></li>
          <li><%= link_to "អំពី​យើង", site_about_path %></li>
        </ul>
        <ul class="nav navbar-nav pull-right">

        <% if user_signed_in? %>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= current_user.username%> <b class="caret"></b></a><ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li><%= link_to "បង្កើតអត្ថបទ", new_thumbnail_path%></li>
         <li><%= link_to "បង្ហាញអត្ថបទទាំងអស់", thumbnails_path%></li>
       
         <li class="divider"></li>
          <li><%= link_to 'ពាណិជ្ជកម្ម', new_advertisment_path%></li>
          <li><%= link_to 'ពាណិជ្ជកម្មទាំងអស់', advertisments_path%></li>
        </ul>
        </li>
          <li><%= link_to "ចាកចេញ", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ចូល", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
</div>